body {
  font-family: 'Nunito', Helvetica, serif;
  background-color: rgb(255, 255, 255);
}

.nav-button-home {
font-size: 20px;
font-weight: bold;
}

.nav-button-services {
  font-size: 20px;
  font-weight: bold;
}

.nav-button-products {
  font-size: 20px;
  font-weight: bold;
}

.nav-image {
  width: 200px;
  height: auto;
}

#main-menu .nav-bar { list-style:none; height: 100px; background-color: rgb(214, 238, 247); padding-top: 40px;}
#main-menu .nav-bar li { display:inline; padding:0 10px; }
#main-menu .nav-bar li a {
  text-decoration: none;
  padding-left: 25px;

  text-transform: uppercase;
  color: #333;
}

#profile {
  float: right;
	margin-right: 1.9em;
}

.link {
  text-decoration: none;
  padding-left: 10px;
  padding-top: 15px;
  color: rgb(117, 204, 234);
}
.card-title {
  padding-top: 15px;
  padding-bottom: 5px;
}
