#card_show {
 padding-top: 100px;
}

.profile_page_h2 {
  font-size: 18px;
  color: rgb(76, 76, 76);
}

.profile_page_p {
  font-size: 12px;
  color: rgb(76, 76, 76);
}

.profile_page_h1 {
  font-size: 32px;
  color: rgb(76, 76, 76);
  margin-bottom: 30px;
  margin-top: -70px;
}

#profile_photo {
  width: 200px;
  height: 200px;
}

#edit_button {
  font-size: 12px;
}

#signout_button {
  font-size: 12px;
  margin-left: -25px;
}

#buttons_profile {
  margin-top: 50px;
}

#pet_link_button {
  border: solid rgb(149, 233, 221);
  color: rgb(149, 233, 221);
  font-size: 12px;
  width: 80px;
}
