.profile{
  align-items: center;
  display: flex;
  flex: row;
  justify-content: space-evenly;
  margin-top: 15%;

  .part1{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      margin-left: 0px;
    }

    img{
      border-radius: 100%;
    }
  }

  .part2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p, h2{
      margin-left: 0px;
    }
  }
}
