.container_new {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#new_card {
  padding: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 50px;
}

#post_pet {
  border-radius: 5px;
  width: 634px;
  height: 40px;
}

#btn_post {
  margin-top: 20px;
}

.upload_photo {
  margin-top: 20px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #737373;
  border-radius: 5px;
}
